<gridster [options]="options">
  <gridster-item *ngFor="let item of dashboard" class="mat-app-background"
                 [item]="item.gridsterItem"
                 (itemChange)="item.gridsterItem = $event.item; saveDashboard()"
  >
    <ng-container *ngIf="item.type === 'clock'">
      <app-event-clock [event]="item.event" [hideCode]="item.showCode"></app-event-clock>
    </ng-container>
    <ng-container *ngIf="item.type === 'joinCode'">
      <app-join-code [event]="item.event"></app-join-code>
    </ng-container>
    <div class="remove-item" *ngIf="!quietMode.value">
      <mat-icon (click)="removeItem(item)">close</mat-icon>
    </div>
  </gridster-item>
</gridster>

<button *ngIf="!quietMode.value" class="add-new" mat-fab color="primary" aria-label="Add new widget" (click)="addNewWidget()">
  <mat-icon>add</mat-icon>
</button>
