<mat-card>
  <mat-card-header class="full-width-header">
    <mat-card-title>
      {{eventInfo?.title}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <svg viewBox="0 0 36 18" (click)="loadEventInfo(true)" style="cursor: pointer">
      <text x="0" y="15" class="timer {{activeClass}}">{{minSecString}}</text>
    </svg>
  </mat-card-content>
  <div class="eventCode" (click)="hideCode = !hideCode">
    {{!hideCode? (eventInfo?.shortCode || 'NOCODE') : ''}}
  </div>
</mat-card>
