.add-new {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 100;
}
.reset {
  position: fixed;
  right: 10px;
  bottom: 90px;
  z-index: 100;
}

.remove-item {
  position: absolute;
  top: -4px;
  right: -4px;
  color: red;
  cursor: pointer;
}
