mat-toolbar .mat-button {
  font-size: 20px;
}

.organization-dropdown {
  transform: scale(0.8) translate(10px, 13px);
}

.router-container {
  height: 100%;

  &.toolbar-visible {
    height: calc(100% - 64px);
  }
}
