<gridster [options]="options">
  <gridster-item [item]="item.gridsterItem" *ngFor="let item of dashboard" class="mat-app-background">
    <ng-container *ngIf="item.type === 'clock'">
      <app-event-clock [event]="item.event" [showCode]="item.showCode"></app-event-clock>
    </ng-container>
    <div class="remove-item">
      <mat-icon (click)="removeItem(item)">close</mat-icon>
    </div>
  </gridster-item>
</gridster>

<button *ngIf="!quietMode" class="add-new" mat-fab color="primary" aria-label="Add new widget" (click)="addNewWidget()">
  <mat-icon>add</mat-icon>
</button>
