<div class="loop-container" #loopContainer>
  <div class="inner-content" [style]="'--scroll-duration: ' + scrollDuration + 's'">
    <ng-template [ngTemplateOutlet]="template"></ng-template>
    <hr>
    <ng-template [ngTemplateOutlet]="template"></ng-template>
    <hr>
    <ng-template [ngTemplateOutlet]="template"></ng-template>
    <hr>
    <ng-template [ngTemplateOutlet]="template"></ng-template>
    <hr>
    <ng-template [ngTemplateOutlet]="template"></ng-template>
    <hr>
  </div>
</div>
