<mat-card>
  <mat-card-header class="full-width-header">
    <mat-card-title>
      <div>
        {{eventInfo?.title}}
      </div>
      <div *ngIf="!quietMode.value">
        <div class="material-icons clickable" (click)="fontSize = fontSize + 2">add</div>
        <div class="material-icons clickable" (click)="fontSize = fontSize - 2">remove</div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content [style]="'--font-size: ' + fontSize">
    <div class="registration-info" *ngIf="showRegistrationInfo()">
      <div class="registered-players">
        Registered players: {{players.length}}
        <ul>
          <li *ngFor="let player of players">{{player.firstName}} {{player.lastName}}</li>
        </ul>
      </div>
      <div class="interested-players" *ngIf="reservations.length > 0">
        Pending: {{reservations.length}}
        <ul>
          <li *ngFor="let r of reservations">{{r.firstName}} {{r.lastName}}</li>
        </ul>
      </div>
    </div>
    <div class="draft-info" *ngIf="showDraftInfo()">
      <ng-template #draftTemplate>
        <div *ngFor="let pod of eventInfo?.gameState?.pods" class="pod-container">
          <div class="pod-header">Pod {{pod.number}}</div>
          <hr>
          <ol>
            <li *ngFor="let seat of pod.seats">
              {{seat.firstName}} {{seat.lastName}}
            </li>
          </ol>
        </div>
      </ng-template>
      <app-looping-auto-scroll [template]="draftTemplate"></app-looping-auto-scroll>
    </div>
    <div class="draft-info" *ngIf="showDeckConstructionInfo()">
      <ng-template #deckConstructionTemplate>
        <div class="seating-header">Player Seating</div>
        <div *ngFor="let seat of getSeatingsByPlayer()" class="constructed-seats-container">
          {{seat.lastName}}, {{seat.lastName}} - {{seat.number}}
        </div>
      </ng-template>
      <app-looping-auto-scroll [template]="deckConstructionTemplate"></app-looping-auto-scroll>
    </div>
    <div class="round-info" *ngIf="showRoundInfo()">
      <ng-template #pairingsTemplate>
        <ul>
          <li *ngFor="let pairing of getPairingsByPlayer()">
            {{pairing.table === -1 ? 'Bye' : pairing.table}} | {{pairing.name}} - {{pairing.result}} - {{pairing.opponent}}
          </li>
        </ul>
      </ng-template>
      <app-looping-auto-scroll [template]="pairingsTemplate"></app-looping-auto-scroll>
    </div>
    <div class="standings" *ngIf="showStandings()">
      <ng-template #standingsTemplate>
        <ol>
          <li *ngFor="let standing of getStandingsByRank(); let i = index">
            {{getTeamName(standing.team)}} - {{standing.matchPoints}} ({{standing.wins}}-{{standing.losses}}-{{standing.draws}})
          </li>
        </ol>
      </ng-template>
      <app-looping-auto-scroll [template]="standingsTemplate"></app-looping-auto-scroll>
    </div>
  </mat-card-content>
</mat-card>
