<mat-card>
  <mat-card-header class="full-width-header">
    <mat-card-title>
      {{eventInfo?.title}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="registration-info" *ngIf="showRegistrationInfo()">
      <div class="registered-players">
        Registered players: {{players.length}}
        <ul>
          <li *ngFor="let player of players">{{player.firstName}} {{player.lastName}}</li>
        </ul>
      </div>
      <div class="interested-players" *ngIf="reservations.length > 0">
        Pending: {{reservations.length}}
        <ul>
          <li *ngFor="let r of reservations">{{r.firstName}} {{r.lastName}}</li>
        </ul>
      </div>
    </div>
    <div class="draft-info" *ngIf="showDraftInfo()">
      Draft table info is not currently supported.
    </div>
    <div class="round-info" *ngIf="showRoundInfo()">
      <ul>
        <li *ngFor="let pairing of getPairingsByPlayer()">
          {{pairing.table}} | {{pairing.name}} - {{pairing.result}} - {{pairing.opponent}}
        </li>
      </ul>
    </div>
    <div class="standings" *ngIf="showStandings()">
      Player standings are not currently supported.
    </div>
  </mat-card-content>
</mat-card>
