/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  --primary-color: #7b1fa2;
}

.full-width-header .mat-card-header-text {
  width: 100%;
}


@keyframes spinner {
  to {transform: rotate(360deg);}
}

button.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

/* The default coloring for the dropdown looks like trash. */
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: white;
  background-color: #8a2ba9;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #da83ff;
}

.clickable {
  cursor: pointer;
}
